{
  "openapi": "3.1.0",
  "info": {
    "title": "SaaS Maker API",
    "version": "0.1.0",
    "description": "Generated route-level OpenAPI spec for CLI/docs enforcement.",
    "x-generator": "scripts/generate-openapi.mjs"
  },
  "servers": [
    {
      "url": "https://api.sassmaker.com"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "GET /health",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/chat/completions": {
      "post": {
        "tags": [
          "ai"
        ],
        "summary": "POST /v1/ai/chat/completions",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/config": {
      "get": {
        "tags": [
          "ai"
        ],
        "summary": "GET /v1/ai/config",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "ai"
        ],
        "summary": "PUT /v1/ai/config",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "ai"
        ],
        "summary": "DELETE /v1/ai/config",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/embeddings": {
      "post": {
        "tags": [
          "ai"
        ],
        "summary": "POST /v1/ai/embeddings",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/requests": {
      "get": {
        "tags": [
          "ai"
        ],
        "summary": "GET /v1/ai/requests",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/usage": {
      "get": {
        "tags": [
          "ai"
        ],
        "summary": "GET /v1/ai/usage",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "POST /v1/auth/logout",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/auth/session": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "GET /v1/auth/session",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/changelog": {
      "get": {
        "tags": [
          "changelog"
        ],
        "summary": "GET /v1/changelog",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/changelog/dashboard/{projectId}": {
      "get": {
        "tags": [
          "changelog"
        ],
        "summary": "GET /v1/changelog/dashboard/{projectId}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "changelog"
        ],
        "summary": "POST /v1/changelog/dashboard/{projectId}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/changelog/dashboard/{projectId}/{id}": {
      "patch": {
        "tags": [
          "changelog"
        ],
        "summary": "PATCH /v1/changelog/dashboard/{projectId}/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "changelog"
        ],
        "summary": "DELETE /v1/changelog/dashboard/{projectId}/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/cli/approve": {
      "post": {
        "tags": [
          "cli"
        ],
        "summary": "POST /v1/cli/approve",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/cli/code": {
      "post": {
        "tags": [
          "cli"
        ],
        "summary": "POST /v1/cli/code",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/cli/poll": {
      "get": {
        "tags": [
          "cli"
        ],
        "summary": "GET /v1/cli/poll",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/feedback": {
      "get": {
        "tags": [
          "feedback"
        ],
        "summary": "GET /v1/feedback",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "feedback"
        ],
        "summary": "POST /v1/feedback",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/feedback/board": {
      "get": {
        "tags": [
          "feedback"
        ],
        "summary": "GET /v1/feedback/board",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/feedback/by-project/{slug}": {
      "get": {
        "tags": [
          "feedback"
        ],
        "summary": "GET /v1/feedback/by-project/{slug}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/feedback/inbox/{projectId}": {
      "get": {
        "tags": [
          "feedback"
        ],
        "summary": "GET /v1/feedback/inbox/{projectId}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/feedback/{id}": {
      "patch": {
        "tags": [
          "feedback"
        ],
        "summary": "PATCH /v1/feedback/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "feedback"
        ],
        "summary": "DELETE /v1/feedback/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/feedback/{id}/downvote": {
      "post": {
        "tags": [
          "feedback"
        ],
        "summary": "POST /v1/feedback/{id}/downvote",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "feedback"
        ],
        "summary": "DELETE /v1/feedback/{id}/downvote",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/feedback/{id}/upvote": {
      "post": {
        "tags": [
          "feedback"
        ],
        "summary": "POST /v1/feedback/{id}/upvote",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "feedback"
        ],
        "summary": "DELETE /v1/feedback/{id}/upvote",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/fleet/metadata": {
      "get": {
        "tags": [
          "fleet"
        ],
        "summary": "GET /v1/fleet/metadata",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "fleet"
        ],
        "summary": "POST /v1/fleet/metadata",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/jobs": {
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "GET /v1/jobs",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/jobs/{id}/logs": {
      "post": {
        "tags": [
          "jobs"
        ],
        "summary": "POST /v1/jobs/{id}/logs",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/knowledge/documents/{id}": {
      "delete": {
        "tags": [
          "knowledge"
        ],
        "summary": "DELETE /v1/knowledge/documents/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/knowledge/indexes": {
      "get": {
        "tags": [
          "knowledge"
        ],
        "summary": "GET /v1/knowledge/indexes",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "knowledge"
        ],
        "summary": "POST /v1/knowledge/indexes",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/knowledge/indexes/{id}": {
      "delete": {
        "tags": [
          "knowledge"
        ],
        "summary": "DELETE /v1/knowledge/indexes/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/knowledge/indexes/{id}/documents": {
      "get": {
        "tags": [
          "knowledge"
        ],
        "summary": "GET /v1/knowledge/indexes/{id}/documents",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "knowledge"
        ],
        "summary": "POST /v1/knowledge/indexes/{id}/documents",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/knowledge/indexes/{id}/search": {
      "post": {
        "tags": [
          "knowledge"
        ],
        "summary": "POST /v1/knowledge/indexes/{id}/search",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "GET /v1/projects",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "POST /v1/projects",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/projects/by-slug/{slug}": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "GET /v1/projects/by-slug/{slug}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/projects/readme": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "GET /v1/projects/readme",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "projects"
        ],
        "summary": "PUT /v1/projects/readme",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/projects/{id}": {
      "patch": {
        "tags": [
          "projects"
        ],
        "summary": "PATCH /v1/projects/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "summary": "DELETE /v1/projects/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/projects/{id}/readme": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "GET /v1/projects/{id}/readme",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "projects"
        ],
        "summary": "PUT /v1/projects/{id}/readme",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/roadmap/dashboard/{projectId}": {
      "get": {
        "tags": [
          "roadmap"
        ],
        "summary": "GET /v1/roadmap/dashboard/{projectId}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "roadmap"
        ],
        "summary": "POST /v1/roadmap/dashboard/{projectId}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/roadmap/dashboard/{projectId}/from-feedback/{feedbackId}": {
      "post": {
        "tags": [
          "roadmap"
        ],
        "summary": "POST /v1/roadmap/dashboard/{projectId}/from-feedback/{feedbackId}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/roadmap/dashboard/{projectId}/reorder": {
      "post": {
        "tags": [
          "roadmap"
        ],
        "summary": "POST /v1/roadmap/dashboard/{projectId}/reorder",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/roadmap/dashboard/{projectId}/{id}": {
      "patch": {
        "tags": [
          "roadmap"
        ],
        "summary": "PATCH /v1/roadmap/dashboard/{projectId}/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "roadmap"
        ],
        "summary": "DELETE /v1/roadmap/dashboard/{projectId}/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/roadmap/public/{slug}": {
      "get": {
        "tags": [
          "roadmap"
        ],
        "summary": "GET /v1/roadmap/public/{slug}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/roadmap/public/{slug}/submit": {
      "post": {
        "tags": [
          "roadmap"
        ],
        "summary": "POST /v1/roadmap/public/{slug}/submit",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/roadmap/public/{slug}/{id}/vote": {
      "post": {
        "tags": [
          "roadmap"
        ],
        "summary": "POST /v1/roadmap/public/{slug}/{id}/vote",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "roadmap"
        ],
        "summary": "DELETE /v1/roadmap/public/{slug}/{id}/vote",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/secrets": {
      "get": {
        "tags": [
          "secrets"
        ],
        "summary": "GET /v1/secrets",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "secrets"
        ],
        "summary": "POST /v1/secrets",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/secrets/{id}": {
      "delete": {
        "tags": [
          "secrets"
        ],
        "summary": "DELETE /v1/secrets/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/standards": {
      "get": {
        "tags": [
          "standards"
        ],
        "summary": "GET /v1/standards",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/standards/{type}": {
      "get": {
        "tags": [
          "standards"
        ],
        "summary": "GET /v1/standards/{type}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "standards"
        ],
        "summary": "PUT /v1/standards/{type}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/symphony/audit": {
      "get": {
        "tags": [
          "symphony"
        ],
        "summary": "GET /v1/symphony/audit",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "symphony"
        ],
        "summary": "POST /v1/symphony/audit",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/symphony/memory": {
      "get": {
        "tags": [
          "symphony"
        ],
        "summary": "GET /v1/symphony/memory",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "symphony"
        ],
        "summary": "PUT /v1/symphony/memory",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/symphony/runs": {
      "get": {
        "tags": [
          "symphony"
        ],
        "summary": "GET /v1/symphony/runs",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "symphony"
        ],
        "summary": "POST /v1/symphony/runs",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/tasks": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "GET /v1/tasks",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "tasks"
        ],
        "summary": "POST /v1/tasks",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/tasks/{id}": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "GET /v1/tasks/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "tasks"
        ],
        "summary": "PATCH /v1/tasks/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "tasks"
        ],
        "summary": "DELETE /v1/tasks/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/tasks/{id}/comments": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "GET /v1/tasks/{id}/comments",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "tasks"
        ],
        "summary": "POST /v1/tasks/{id}/comments",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/testimonials": {
      "get": {
        "tags": [
          "testimonials"
        ],
        "summary": "GET /v1/testimonials",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "testimonials"
        ],
        "summary": "POST /v1/testimonials",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/testimonials/all": {
      "get": {
        "tags": [
          "testimonials"
        ],
        "summary": "GET /v1/testimonials/all",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/testimonials/by-project/{slug}": {
      "get": {
        "tags": [
          "testimonials"
        ],
        "summary": "GET /v1/testimonials/by-project/{slug}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "testimonials"
        ],
        "summary": "POST /v1/testimonials/by-project/{slug}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/testimonials/dashboard/{projectId}": {
      "post": {
        "tags": [
          "testimonials"
        ],
        "summary": "POST /v1/testimonials/dashboard/{projectId}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/testimonials/{id}": {
      "patch": {
        "tags": [
          "testimonials"
        ],
        "summary": "PATCH /v1/testimonials/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "testimonials"
        ],
        "summary": "DELETE /v1/testimonials/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/upload": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "POST /v1/upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/waitlist": {
      "get": {
        "tags": [
          "waitlist"
        ],
        "summary": "GET /v1/waitlist",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "waitlist"
        ],
        "summary": "POST /v1/waitlist",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/waitlist/count": {
      "get": {
        "tags": [
          "waitlist"
        ],
        "summary": "GET /v1/waitlist/count",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/waitlist/{id}": {
      "delete": {
        "tags": [
          "waitlist"
        ],
        "summary": "DELETE /v1/waitlist/{id}",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  }
}
