{
  "openapi": "3.1.0",
  "info": {
    "title": "SaaS Maker API",
    "version": "0.2.0",
    "description": "API for SaaS Maker — feedback, analytics, forms, roadmap, and more."
  },
  "servers": [
    {
      "url": "https://api.sassmaker.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Auth.js JWT session token (dashboard routes)"
      },
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Project-Key",
        "description": "Project API key (public/SDK routes)"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        },
        "required": ["error"]
      },
      "Ok": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "enum": [true] }
        },
        "required": ["ok"]
      },
      "TrackEventRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Event name, defaults to page_view" },
          "url": { "type": "string" },
          "referrer": { "type": "string" },
          "utm_source": { "type": "string" },
          "utm_medium": { "type": "string" },
          "utm_campaign": { "type": "string" },
          "screen_width": { "type": "number" },
          "properties": { "type": "object", "additionalProperties": true }
        }
      },
      "AnalyticsDashboard": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "page_views": { "type": "number" },
              "unique_visitors": { "type": "number" },
              "bounce_rate": { "type": "number" },
              "avg_session_pages": { "type": "number" },
              "bot_count": { "type": "number" },
              "bot_percentage": { "type": "number" }
            }
          },
          "timeseries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": { "type": "string" },
                "views": { "type": "number" },
                "visitors": { "type": "number" }
              }
            }
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "pathname": { "type": "string" }, "views": { "type": "number" } }
            }
          },
          "referrers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "referrer": { "type": "string" }, "count": { "type": "number" } }
            }
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "country": { "type": "string" }, "count": { "type": "number" } }
            }
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "device": { "type": "string" }, "count": { "type": "number" } }
            }
          },
          "browsers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "browser": { "type": "string" }, "count": { "type": "number" } }
            }
          },
          "os": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "os": { "type": "string" }, "count": { "type": "number" } }
            }
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "name": { "type": "string" }, "count": { "type": "number" } }
            }
          },
          "bots": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "name": { "type": "string" }, "count": { "type": "number" } }
            }
          }
        }
      },
      "AnalyticsOverview": {
        "type": "object",
        "properties": {
          "page_views": { "type": "number" },
          "unique_visitors": { "type": "number" },
          "top_page": { "type": ["string", "null"] },
          "top_referrer": { "type": ["string", "null"] }
        }
      },
      "AnalyticsDetailResult": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object" } },
          "total": { "type": "number" }
        }
      },
      "FeedbackRecord": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "project_id": { "type": "string", "format": "uuid" },
          "type": { "type": "string", "enum": ["bug", "feature", "feedback"] },
          "status": { "type": "string", "enum": ["new", "dismissed", "on_roadmap"] },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "image_url": { "type": ["string", "null"] },
          "submitter_email": { "type": "string" },
          "submitter_name": { "type": ["string", "null"] },
          "upvote_count": { "type": "number" },
          "downvote_count": { "type": "number" },
          "viewer_vote": { "type": ["string", "null"], "enum": ["up", "down", null] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "SubmitFeedbackRequest": {
        "type": "object",
        "required": ["type", "title", "description", "submitter_email"],
        "properties": {
          "type": { "type": "string", "enum": ["bug", "feature", "feedback"] },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "image_url": { "type": "string" },
          "submitter_email": { "type": "string", "format": "email" },
          "submitter_name": { "type": "string" }
        }
      },
      "UpdateFeedbackStatusRequest": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": { "type": "string", "enum": ["new", "dismissed", "on_roadmap"] }
        }
      },
      "FeedbackPaginatedResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/FeedbackRecord" } },
          "total": { "type": "number" },
          "page": { "type": "number" },
          "limit": { "type": "number" }
        }
      },
      "FormRecord": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "project_id": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "status": { "type": "string", "enum": ["draft", "published", "closed"] },
          "theme": { "type": "object" },
          "settings": { "type": "object" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "FormQuestionRecord": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "form_id": { "type": "string", "format": "uuid" },
          "type": { "type": "string", "enum": ["short_text", "long_text", "multiple_choice", "checkboxes", "dropdown", "yes_no", "rating", "nps", "opinion_scale", "email", "number", "date", "phone", "url", "file_upload"] },
          "label": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "required": { "type": "boolean" },
          "options": { "type": "object" },
          "order_index": { "type": "number" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateFormRequest": {
        "type": "object",
        "required": ["title", "slug"],
        "properties": {
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string", "enum": ["draft", "published", "closed"] },
          "theme": { "type": "object" },
          "settings": { "type": "object" },
          "questions": {
            "type": "array",
            "description": "Optional inline questions to create with the form",
            "items": { "$ref": "#/components/schemas/UpsertFormQuestionRequest" }
          }
        }
      },
      "UpdateFormRequest": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string", "enum": ["draft", "published", "closed"] },
          "theme": { "type": "object" },
          "settings": { "type": "object" }
        }
      },
      "UpsertFormQuestionRequest": {
        "type": "object",
        "required": ["type", "label", "order_index"],
        "properties": {
          "id": { "type": "string", "format": "uuid", "description": "Provide to update existing question" },
          "type": { "type": "string", "enum": ["short_text", "long_text", "multiple_choice", "checkboxes", "dropdown", "yes_no", "rating", "nps", "opinion_scale", "email", "number", "date", "phone", "url", "file_upload"] },
          "label": { "type": "string" },
          "description": { "type": "string" },
          "required": { "type": "boolean", "default": false },
          "options": { "type": "object" },
          "order_index": { "type": "number" }
        }
      },
      "SubmitFormResponseRequest": {
        "type": "object",
        "required": ["answers"],
        "properties": {
          "answers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["question_id", "value"],
              "properties": {
                "question_id": { "type": "string", "format": "uuid" },
                "value": { "type": "string" }
              }
            }
          },
          "metadata": { "type": "object" }
        }
      },
      "FormAnalyticsResponse": {
        "type": "object",
        "properties": {
          "form_id": { "type": "string", "format": "uuid" },
          "total_responses": { "type": "number" },
          "questions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question_id": { "type": "string", "format": "uuid" },
                "label": { "type": "string" },
                "type": { "type": "string" },
                "total_answers": { "type": "number" },
                "summary": { "type": "object" }
              }
            }
          }
        }
      },
      "RoadmapItemRecord": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "project_id": { "type": "string", "format": "uuid" },
          "feedback_id": { "type": ["string", "null"], "format": "uuid" },
          "title": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "column": { "type": "string", "enum": ["backlog", "planned", "in_progress", "done"] },
          "position": { "type": "number" },
          "public": { "type": "boolean" },
          "upvote_count": { "type": "number" },
          "downvote_count": { "type": "number" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateRoadmapItemRequest": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "column": { "type": "string", "enum": ["backlog", "planned", "in_progress", "done"], "default": "backlog" },
          "public": { "type": "boolean", "default": true }
        }
      },
      "UpdateRoadmapItemRequest": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "column": { "type": "string", "enum": ["backlog", "planned", "in_progress", "done"] },
          "position": { "type": "number" },
          "public": { "type": "boolean" }
        }
      },
      "ReorderRoadmapRequest": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["id", "column", "position"],
              "properties": {
                "id": { "type": "string", "format": "uuid" },
                "column": { "type": "string", "enum": ["backlog", "planned", "in_progress", "done"] },
                "position": { "type": "number" }
              }
            }
          }
        }
      },
      "RoadmapVoteRequest": {
        "type": "object",
        "required": ["user_identifier", "vote"],
        "properties": {
          "user_identifier": { "type": "string" },
          "vote": { "type": "number", "enum": [1, -1] }
        }
      }
    },
    "parameters": {
      "PeriodParam": {
        "name": "period",
        "in": "query",
        "schema": { "type": "string", "enum": ["today", "7d", "30d", "90d", "all"], "default": "30d" },
        "description": "Time period filter"
      },
      "ProjectIdQueryParam": {
        "name": "project_id",
        "in": "query",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "Project ID"
      },
      "IncludeBotsParam": {
        "name": "include_bots",
        "in": "query",
        "schema": { "type": "string", "enum": ["true", "false"], "default": "false" },
        "description": "Include bot traffic"
      },
      "PageParam": {
        "name": "page",
        "in": "query",
        "schema": { "type": "integer", "default": 1 },
        "description": "Page number"
      },
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "schema": { "type": "integer", "default": 50 },
        "description": "Items per page"
      },
      "OffsetParam": {
        "name": "offset",
        "in": "query",
        "schema": { "type": "integer", "default": 0 },
        "description": "Offset for pagination"
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": ["system"],
        "summary": "Health check",
        "responses": {
          "200": { "description": "Success" }
        }
      }
    },
    "/v1/analytics/events": {
      "post": {
        "tags": ["analytics"],
        "summary": "Track an event",
        "description": "Ingests a page view or custom event. Country, device, browser, and OS are auto-detected from headers/UA.",
        "security": [{ "ApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TrackEventRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event tracked",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Ok" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["analytics"],
        "summary": "List custom event counts",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/ProjectIdQueryParam" },
          { "$ref": "#/components/parameters/PeriodParam" }
        ],
        "responses": {
          "200": {
            "description": "Custom event counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": { "name": { "type": "string" }, "count": { "type": "number" } }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/dashboard": {
      "get": {
        "tags": ["analytics"],
        "summary": "Get full analytics dashboard",
        "description": "Returns summary stats, timeseries, top pages, referrers, countries, devices, browsers, OS, events, and bots. Accepts either API key or session auth.",
        "security": [{ "BearerAuth": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Required when using session auth"
          },
          { "$ref": "#/components/parameters/PeriodParam" },
          { "$ref": "#/components/parameters/IncludeBotsParam" }
        ],
        "responses": {
          "200": {
            "description": "Analytics dashboard data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AnalyticsDashboard" }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/detail/{section}": {
      "get": {
        "tags": ["analytics"],
        "summary": "Get detailed analytics for a section",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "enum": ["pages", "referrers", "countries", "devices", "browsers", "os", "events", "bots"] }
          },
          { "$ref": "#/components/parameters/ProjectIdQueryParam" },
          { "$ref": "#/components/parameters/PeriodParam" },
          { "$ref": "#/components/parameters/IncludeBotsParam" },
          { "$ref": "#/components/parameters/LimitParam" },
          { "$ref": "#/components/parameters/OffsetParam" }
        ],
        "responses": {
          "200": {
            "description": "Detail data with total count",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AnalyticsDetailResult" }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/overview": {
      "get": {
        "tags": ["analytics"],
        "summary": "Get analytics overview",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/ProjectIdQueryParam" },
          { "$ref": "#/components/parameters/PeriodParam" }
        ],
        "responses": {
          "200": {
            "description": "Overview stats",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AnalyticsOverview" }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/pages": {
      "get": {
        "tags": ["analytics"],
        "summary": "Get top pages",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/ProjectIdQueryParam" },
          { "$ref": "#/components/parameters/PeriodParam" }
        ],
        "responses": {
          "200": {
            "description": "Top pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": { "pathname": { "type": "string" }, "views": { "type": "number" } }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/referrers": {
      "get": {
        "tags": ["analytics"],
        "summary": "Get top referrers",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/ProjectIdQueryParam" },
          { "$ref": "#/components/parameters/PeriodParam" }
        ],
        "responses": {
          "200": {
            "description": "Top referrers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": { "referrer": { "type": "string" }, "count": { "type": "number" } }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/countries": {
      "get": {
        "tags": ["analytics"],
        "summary": "Get country breakdown",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/ProjectIdQueryParam" },
          { "$ref": "#/components/parameters/PeriodParam" }
        ],
        "responses": {
          "200": {
            "description": "Country breakdown",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": { "country": { "type": "string" }, "count": { "type": "number" } }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/devices": {
      "get": {
        "tags": ["analytics"],
        "summary": "Get device breakdown",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/ProjectIdQueryParam" },
          { "$ref": "#/components/parameters/PeriodParam" }
        ],
        "responses": {
          "200": {
            "description": "Device breakdown",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": { "device": { "type": "string" }, "count": { "type": "number" } }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/feedback": {
      "post": {
        "tags": ["feedback"],
        "summary": "Submit feedback",
        "description": "Submit a bug report, feature request, or general feedback for a project.",
        "security": [{ "ApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SubmitFeedbackRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feedback created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FeedbackRecord" }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "get": {
        "tags": ["feedback"],
        "summary": "List feedback for project",
        "description": "List feedback items for the authenticated project (via API key). Supports filtering and sorting.",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": { "type": "string", "enum": ["bug", "feature", "feedback"] }
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string", "enum": ["new", "dismissed", "on_roadmap"] }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string", "enum": ["newest", "upvotes"], "default": "newest" }
          },
          { "$ref": "#/components/parameters/PageParam" }
        ],
        "responses": {
          "200": {
            "description": "Paginated feedback list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FeedbackPaginatedResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/feedback/inbox/{projectId}": {
      "get": {
        "tags": ["feedback"],
        "summary": "Dashboard feedback inbox",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "type",
            "in": "query",
            "schema": { "type": "string", "enum": ["bug", "feature", "feedback"] }
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string", "enum": ["new", "dismissed", "on_roadmap"] }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string", "enum": ["newest", "upvotes"], "default": "newest" }
          },
          { "$ref": "#/components/parameters/PageParam" }
        ],
        "responses": {
          "200": {
            "description": "Paginated feedback list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FeedbackPaginatedResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/feedback/board": {
      "get": {
        "tags": ["feedback"],
        "summary": "Feature request board across all projects",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string", "enum": ["newest", "upvotes"], "default": "upvotes" }
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by status, or 'all' for no filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature requests across all projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/FeedbackRecord" } },
                    "total": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/feedback/by-project/{slug}": {
      "get": {
        "tags": ["feedback"],
        "summary": "Public feedback list by project slug",
        "description": "No auth required. Optionally pass Bearer token to include viewer_vote.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "schema": { "type": "string", "enum": ["bug", "feature", "feedback"] }
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string", "enum": ["new", "dismissed", "on_roadmap"] }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string", "enum": ["newest", "upvotes"], "default": "newest" }
          },
          { "$ref": "#/components/parameters/PageParam" }
        ],
        "responses": {
          "200": {
            "description": "Paginated feedback list with project info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/FeedbackRecord" } },
                    "total": { "type": "number" },
                    "page": { "type": "number" },
                    "limit": { "type": "number" },
                    "project": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "slug": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/feedback/{id}": {
      "patch": {
        "tags": ["feedback"],
        "summary": "Update feedback status",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateFeedbackStatusRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated feedback",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FeedbackRecord" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["feedback"],
        "summary": "Delete feedback",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      }
    },
    "/v1/feedback/{id}/upvote": {
      "post": {
        "tags": ["feedback"],
        "summary": "Upvote feedback",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Upvoted",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      },
      "delete": {
        "tags": ["feedback"],
        "summary": "Remove upvote",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Upvote removed",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      }
    },
    "/v1/feedback/{id}/downvote": {
      "post": {
        "tags": ["feedback"],
        "summary": "Downvote feedback",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Downvoted",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      },
      "delete": {
        "tags": ["feedback"],
        "summary": "Remove downvote",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Downvote removed",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      }
    },
    "/v1/forms/by-slug/{slug}": {
      "get": {
        "tags": ["forms"],
        "summary": "Get published form by slug (API key)",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Form with questions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        { "$ref": "#/components/schemas/FormRecord" },
                        {
                          "type": "object",
                          "properties": {
                            "questions": { "type": "array", "items": { "$ref": "#/components/schemas/FormQuestionRecord" } }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/forms/{formId}/submit": {
      "post": {
        "tags": ["forms"],
        "summary": "Submit form response (API key)",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SubmitFormResponseRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "form_id": { "type": "string", "format": "uuid" },
                        "submitted_at": { "type": "string", "format": "date-time" },
                        "answers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string", "format": "uuid" },
                              "response_id": { "type": "string", "format": "uuid" },
                              "question_id": { "type": "string", "format": "uuid" },
                              "value": { "type": ["string", "null"] }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/forms/public/{slug}": {
      "get": {
        "tags": ["forms"],
        "summary": "Get published form by slug (no auth)",
        "description": "For hosted survey pages. No authentication required.",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Form with questions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        { "$ref": "#/components/schemas/FormRecord" },
                        {
                          "type": "object",
                          "properties": {
                            "questions": { "type": "array", "items": { "$ref": "#/components/schemas/FormQuestionRecord" } }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/forms/public/{slug}/submit": {
      "post": {
        "tags": ["forms"],
        "summary": "Submit form response by slug (no auth)",
        "description": "For hosted survey pages. No authentication required.",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SubmitFormResponseRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/forms/dashboard/{projectId}": {
      "get": {
        "tags": ["forms"],
        "summary": "List forms for project",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "$ref": "#/components/parameters/PageParam" }
        ],
        "responses": {
          "200": {
            "description": "Paginated forms list with stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/FormRecord" } },
                    "total": { "type": "number" },
                    "page": { "type": "number" },
                    "limit": { "type": "number" },
                    "stats": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["forms"],
        "summary": "Create a form",
        "description": "Create a new form with optional inline questions.",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateFormRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Form created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        { "$ref": "#/components/schemas/FormRecord" },
                        {
                          "type": "object",
                          "properties": {
                            "questions": { "type": "array", "items": { "$ref": "#/components/schemas/FormQuestionRecord" } }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Slug already exists",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/forms/dashboard/{projectId}/check-slug/{slug}": {
      "get": {
        "tags": ["forms"],
        "summary": "Check form slug availability",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Slug availability",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/forms/dashboard/{projectId}/{formId}": {
      "get": {
        "tags": ["forms"],
        "summary": "Get form with questions",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Form with questions and response count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        { "$ref": "#/components/schemas/FormRecord" },
                        {
                          "type": "object",
                          "properties": {
                            "questions": { "type": "array", "items": { "$ref": "#/components/schemas/FormQuestionRecord" } },
                            "response_count": { "type": "number" }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["forms"],
        "summary": "Update a form",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateFormRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated form",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/FormRecord" }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Slug already exists",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "delete": {
        "tags": ["forms"],
        "summary": "Delete a form",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      }
    },
    "/v1/forms/dashboard/{projectId}/{formId}/questions": {
      "post": {
        "tags": ["forms"],
        "summary": "Bulk upsert/reorder questions",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["questions"],
                "properties": {
                  "questions": {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/UpsertFormQuestionRequest" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated questions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/FormQuestionRecord" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/forms/dashboard/{projectId}/{formId}/questions/{questionId}": {
      "patch": {
        "tags": ["forms"],
        "summary": "Update a question",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "questionId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": { "type": "string" },
                  "label": { "type": "string" },
                  "description": { "type": "string" },
                  "required": { "type": "boolean" },
                  "options": { "type": "object" },
                  "order_index": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated question",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/FormQuestionRecord" }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["forms"],
        "summary": "Delete a question",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "questionId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      }
    },
    "/v1/forms/dashboard/{projectId}/{formId}/responses": {
      "get": {
        "tags": ["forms"],
        "summary": "List form responses",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "$ref": "#/components/parameters/PageParam" }
        ],
        "responses": {
          "200": {
            "description": "Paginated responses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "type": "object" } },
                    "total": { "type": "number" },
                    "page": { "type": "number" },
                    "limit": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/forms/dashboard/{projectId}/{formId}/responses/{responseId}": {
      "delete": {
        "tags": ["forms"],
        "summary": "Delete a form response",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "responseId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      }
    },
    "/v1/forms/dashboard/{projectId}/{formId}/analytics": {
      "get": {
        "tags": ["forms"],
        "summary": "Get per-question analytics",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Form analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/FormAnalyticsResponse" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/roadmap/public/{slug}": {
      "get": {
        "tags": ["roadmap"],
        "summary": "Get public roadmap by project slug",
        "description": "No auth required. Returns only public roadmap items.",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Public roadmap items with project info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/RoadmapItemRecord" } },
                    "project": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "slug": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/roadmap/public/{slug}/{id}/vote": {
      "post": {
        "tags": ["roadmap"],
        "summary": "Vote on a roadmap item",
        "description": "No auth required. Uses user_identifier for deduplication.",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RoadmapVoteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vote recorded",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      },
      "delete": {
        "tags": ["roadmap"],
        "summary": "Remove vote from roadmap item",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "user_identifier", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Vote removed",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      }
    },
    "/v1/roadmap/dashboard/{projectId}": {
      "get": {
        "tags": ["roadmap"],
        "summary": "List all roadmap items (including private)",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "All roadmap items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/RoadmapItemRecord" } }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["roadmap"],
        "summary": "Create a roadmap item",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateRoadmapItemRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Roadmap item created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoadmapItemRecord" }
              }
            }
          }
        }
      }
    },
    "/v1/roadmap/dashboard/{projectId}/from-feedback/{feedbackId}": {
      "post": {
        "tags": ["roadmap"],
        "summary": "Promote feedback to roadmap item",
        "description": "Creates a roadmap item from a feedback item and marks the feedback as on_roadmap.",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "feedbackId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "201": {
            "description": "Roadmap item created from feedback",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoadmapItemRecord" }
              }
            }
          }
        }
      }
    },
    "/v1/roadmap/dashboard/{projectId}/reorder": {
      "post": {
        "tags": ["roadmap"],
        "summary": "Batch reorder roadmap items",
        "description": "Update positions and columns for multiple items after drag-and-drop.",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReorderRoadmapRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reordered",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      }
    },
    "/v1/roadmap/dashboard/{projectId}/{id}": {
      "patch": {
        "tags": ["roadmap"],
        "summary": "Update a roadmap item",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateRoadmapItemRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated roadmap item",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoadmapItemRecord" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["roadmap"],
        "summary": "Delete a roadmap item",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } }
          }
        }
      }
    },
    "/v1/auth/session": {
      "get": {
        "tags": ["auth"],
        "summary": "GET /v1/auth/session",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "tags": ["auth"],
        "summary": "POST /v1/auth/logout",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/ai/chat/completions": {
      "post": {
        "tags": ["ai"],
        "summary": "POST /v1/ai/chat/completions",
        "security": [{ "ApiKey": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/ai/config/{projectId}": {
      "get": {
        "tags": ["ai"],
        "summary": "GET /v1/ai/config/{projectId}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "put": {
        "tags": ["ai"],
        "summary": "PUT /v1/ai/config/{projectId}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "delete": {
        "tags": ["ai"],
        "summary": "DELETE /v1/ai/config/{projectId}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/ai/embeddings": {
      "post": {
        "tags": ["ai"],
        "summary": "POST /v1/ai/embeddings",
        "security": [{ "ApiKey": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/ai/rag": {
      "post": {
        "tags": ["ai"],
        "summary": "POST /v1/ai/rag",
        "security": [{ "ApiKey": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/ai/requests/{projectId}": {
      "get": {
        "tags": ["ai"],
        "summary": "GET /v1/ai/requests/{projectId}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/ai/usage/{projectId}": {
      "get": {
        "tags": ["ai"],
        "summary": "GET /v1/ai/usage/{projectId}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/changelog": {
      "get": {
        "tags": ["changelog"],
        "summary": "GET /v1/changelog",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/changelog/dashboard/{projectId}": {
      "get": {
        "tags": ["changelog"],
        "summary": "GET /v1/changelog/dashboard/{projectId}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": ["changelog"],
        "summary": "POST /v1/changelog/dashboard/{projectId}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/changelog/dashboard/{projectId}/{id}": {
      "patch": {
        "tags": ["changelog"],
        "summary": "PATCH /v1/changelog/dashboard/{projectId}/{id}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "delete": {
        "tags": ["changelog"],
        "summary": "DELETE /v1/changelog/dashboard/{projectId}/{id}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/cli/code": {
      "post": {
        "tags": ["cli"],
        "summary": "POST /v1/cli/code",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/cli/approve": {
      "post": {
        "tags": ["cli"],
        "summary": "POST /v1/cli/approve",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/cli/poll": {
      "get": {
        "tags": ["cli"],
        "summary": "GET /v1/cli/poll",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/directory": {
      "get": {
        "tags": ["directory"],
        "summary": "GET /v1/directory",
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": ["directory"],
        "summary": "POST /v1/directory",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/directory/claim": {
      "post": {
        "tags": ["directory"],
        "summary": "POST /v1/directory/claim",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/directory/verify-badge": {
      "post": {
        "tags": ["directory"],
        "summary": "POST /v1/directory/verify-badge",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/indexes": {
      "get": {
        "tags": ["indexes"],
        "summary": "GET /v1/indexes",
        "security": [{ "ApiKey": [] }],
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": ["indexes"],
        "summary": "POST /v1/indexes",
        "security": [{ "ApiKey": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/indexes/dashboard/{projectId}": {
      "get": {
        "tags": ["indexes"],
        "summary": "GET /v1/indexes/dashboard/{projectId}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": ["indexes"],
        "summary": "POST /v1/indexes/dashboard/{projectId}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/indexes/dashboard/{projectId}/{indexId}/documents": {
      "get": {
        "tags": ["indexes"],
        "summary": "GET /v1/indexes/dashboard/{projectId}/{indexId}/documents",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "indexId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/indexes/models": {
      "get": {
        "tags": ["indexes"],
        "summary": "GET /v1/indexes/models",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/indexes/{indexId}": {
      "delete": {
        "tags": ["indexes"],
        "summary": "DELETE /v1/indexes/{indexId}",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "name": "indexId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/indexes/{indexId}/documents": {
      "get": {
        "tags": ["indexes"],
        "summary": "GET /v1/indexes/{indexId}/documents",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "name": "indexId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": ["indexes"],
        "summary": "POST /v1/indexes/{indexId}/documents",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "name": "indexId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/indexes/{indexId}/documents/{docId}": {
      "delete": {
        "tags": ["indexes"],
        "summary": "DELETE /v1/indexes/{indexId}/documents/{docId}",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "name": "indexId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "docId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/indexes/{indexId}/search": {
      "post": {
        "tags": ["indexes"],
        "summary": "POST /v1/indexes/{indexId}/search",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "name": "indexId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/projects": {
      "get": {
        "tags": ["projects"],
        "summary": "GET /v1/projects",
        "security": [{ "BearerAuth": [] }],
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": ["projects"],
        "summary": "POST /v1/projects",
        "security": [{ "BearerAuth": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/projects/by-slug/{slug}": {
      "get": {
        "tags": ["projects"],
        "summary": "GET /v1/projects/by-slug/{slug}",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/projects/readme": {
      "get": {
        "tags": ["projects"],
        "summary": "GET /v1/projects/readme",
        "security": [{ "ApiKey": [] }],
        "responses": { "200": { "description": "Success" } }
      },
      "put": {
        "tags": ["projects"],
        "summary": "PUT /v1/projects/readme",
        "security": [{ "ApiKey": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/projects/{id}": {
      "patch": {
        "tags": ["projects"],
        "summary": "PATCH /v1/projects/{id}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "delete": {
        "tags": ["projects"],
        "summary": "DELETE /v1/projects/{id}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/projects/{id}/readme": {
      "get": {
        "tags": ["projects"],
        "summary": "GET /v1/projects/{id}/readme",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "put": {
        "tags": ["projects"],
        "summary": "PUT /v1/projects/{id}/readme",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/testimonials": {
      "get": {
        "tags": ["testimonials"],
        "summary": "GET /v1/testimonials",
        "security": [{ "ApiKey": [] }],
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": ["testimonials"],
        "summary": "POST /v1/testimonials",
        "security": [{ "ApiKey": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/testimonials/all": {
      "get": {
        "tags": ["testimonials"],
        "summary": "GET /v1/testimonials/all",
        "security": [{ "BearerAuth": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/testimonials/by-project/{slug}": {
      "get": {
        "tags": ["testimonials"],
        "summary": "GET /v1/testimonials/by-project/{slug}",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": ["testimonials"],
        "summary": "POST /v1/testimonials/by-project/{slug}",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/testimonials/dashboard/{projectId}": {
      "post": {
        "tags": ["testimonials"],
        "summary": "POST /v1/testimonials/dashboard/{projectId}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/testimonials/{id}": {
      "patch": {
        "tags": ["testimonials"],
        "summary": "PATCH /v1/testimonials/{id}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "delete": {
        "tags": ["testimonials"],
        "summary": "DELETE /v1/testimonials/{id}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/upload": {
      "post": {
        "tags": ["upload"],
        "summary": "POST /v1/upload",
        "security": [{ "BearerAuth": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/waitlist": {
      "get": {
        "tags": ["waitlist"],
        "summary": "GET /v1/waitlist",
        "security": [{ "BearerAuth": [] }],
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": ["waitlist"],
        "summary": "POST /v1/waitlist",
        "security": [{ "ApiKey": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/waitlist/count": {
      "get": {
        "tags": ["waitlist"],
        "summary": "GET /v1/waitlist/count",
        "security": [{ "ApiKey": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/v1/waitlist/{id}": {
      "delete": {
        "tags": ["waitlist"],
        "summary": "DELETE /v1/waitlist/{id}",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    }
  }
}
