@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .bg-dot-thick-neutral-800 {
    background-image: radial-gradient(circle, #262626 1px, transparent 1px);
    background-size: 20px 20px;
  }
  .bg-dot-thick-blue-500 {
    background-image: radial-gradient(circle, #3b82f6 1px, transparent 1px);
    background-size: 20px 20px;
  }
}
